body {
    background: #fff;
    text-align: center;
	display: block;
    margin: 8px;
}
#keywords h1{
	text-align: center;
	color: #2b8699;
	font-size: 100px;	
	font-weight: 900;
}
#keywords h2{
	text-align: center;
	color: grey;
	font-size: 100px;	
}
#repo h1{
	display: inline-block;
	color: grey;
	font-size: 150px;	
}
#repo h3{
	display: inline-block;
	color: grey;
	font-size: 60px;	
}
#keywords p{
	text-align: center;
	color: grey;
	font-size: 30px;	
}
#banner {
	text-align: center;
}